@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--history_box_height: 25rem;
	--header_height: 3rem;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}
.project_grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
}
.project_box {
	display: flex;
	width: 100%;
	flex: calc(50% - 1.25rem) calc(50% - 1.25rem) calc(50% - 1.25rem);
	height: var(--history_box_height);
	flex-direction: column;
}

@media (max-width: 600px) {
	.project_box {
		display: flex;
		width: 100%;
		flex: 1 1 100%;
	}
	.project_grid {
		grid-template-columns: 1fr; /* 작은 화면에서 한 줄에 1개씩 배치 */
	}
}
